TS_TOPIC_PROJECT_ENTITY_LABEL_CONFIG=ts_project_config_dev_0_1_0_pr_52_4_project_entity_label_config
TS_TOPIC_PROJECT_PROPERTY_LABEL=ts_project_config_dev_0_1_0_pr_52_4_project_property_label
TS_TOPIC_PROJECT_TOP_STATEMENTS=ts_project_entity_label_dev_0_1_0_pr_52_4_project_top_statements

TS_TOPIC_COMMUNITY_ENTITY_LABEL_CONFIG=ts_config_dev_0_1_0_pr_52_4_community_property_label
TS_TOPIC_COMMUNITY_PROPERTY_LABEL=ts_config_dev_0_1_0_pr_52_4_community_property_label
TS_TOPIC_COMMUNITY_TOP_OUTGOING_STATEMENTS=ts_entity_label_dev_0_1_0_pr_52_4_community_top_statements


# location of streams store data (rocks-db)
TS_STATE_DIR=../tmp/kafka-streams

# kafka bootstrap servers
TS_BOOTSTRAP_SERVERS=localhost:29092

# schema registry server
TS_SCHEMA_REGISTRY_URL=https://schema-registry.geovistory.org

# kafka streams application id
TS_APPLICATION_ID=my-app

# Output topic name prefix (will be joined with a "." with topic name)
TS_OUTPUT_TOPIC_NAME_PREFIX="my-app"

# Input topic name prefix (will be joined with a "." with topic name)
TS_INPUT_TOPIC_NAME_PREFIX="devlight"

# Number of partitions of output topics
TS_OUTPUT_TOPIC_PARTITIONS=4

# Replication factor of output topics
TS_OUTPUT_TOPIC_REPLICATION_FACTOR=3

# processing.guarantee
STREAMS_PROCESSING_GUARANTEE_CONFIG=exactly_once_v2

